@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.podcasts-home-page-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    height: 40vh;
    width: 80vw;
    background-size: cover;
}

.podcasts-heading {
    color: #151765;
    font-size: 30px;
    font-family: "Roboto";
}

.podcast-image {
    height: 100px;
    width: 140px;
}

.podcast-name {
    font-size: 15px;
    color: #151765;
    font-weight: bold;
}

.episodes-count {
    color: #151765;
    font-size: 14px;
    font-family: "Roboto";
}

.podcast-page-container {
    width: 80vw;
}

.podcast-top-card {
    background-color: #151765;
}

.podcast {
    color: white;
    font-family: "Roboto";
    font-size: 10px;
}

.podcast-name1 {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.podcast-belongs-to {
    color: white;
    font-family: "Roboto";
    font-size: 10px;
}

.podcast-header {
    color: #151765;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto";
}

.podcast-desciption {
    font-size: 12px;
    font-family: "Roboto";
    color: #151765;
}

.podcast-time {
    font-size: 10px;
    font-family: "Roboto";
    font-weight: 700;
    color: #151765;
}

.button {
    background-color: #151765;
    color: #ffffff;
    border-radius: 10px;
    width: 90px;
    height: 40px;

}